.link {
  color: var(--text-link);
}

.home-link {
  font-size: 1.5rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.page-title {
  text-align: center;
  margin: 0 4rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
}

.page-subtitle {
  font-size: 2rem;
}

.page > * {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-toggle {
  display: flex;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.theme-toggle button {
  padding: 1rem;
  border: none;
  background-color: transparent;
  font-size: inherit;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  justify-content: center;
}

.nav li {
  display: inline-flex;
}

.nav a {
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav a[data-active] {
  color: var(--text-link-active);
}

@media screen and (max-width: 720px) {
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .nav nav {
    width: 100%;
  }

  .nav ul {
    margin: 0;
    width: 100%;
    justify-content: space-evenly;
    gap: 1px;
  }

  .nav li,
  .nav a {
    flex: 1;
  }

  .nav a {
    background-color: var(--canvas-secondary);
    text-align: center;
    font-size: 4vw;
  }

  .nav a:not([data-active]) {
    box-shadow: var(--drop-shadow-upwards);
  }

  .nav a[data-active] {
    background-color: var(--canvas-primary);
  }
}

.card {
  padding: 2rem;
  margin: 1rem;
  max-width: 100%;
  background-color: var(--canvas-secondary);
  box-shadow: var(--drop-shadow);
}

.card h3 {
  margin-block-start: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.4rem;
  align-items: center;
}

.form input {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  max-width: 100%;
  background-color: var(--canvas-primary);
  color: var(--text-primary);
  border: 2px solid var(--button-canvas-primary);
}

.form button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border: 2px solid var(--button-canvas-primary);
  margin-block-start: 1rem;
  background-color: var(--button-canvas-primary);
  color: var(--button-text-primary);
}

.form button[data-type="danger"] {
  background-color: var(--button-canvas-danger);
  border-color: var(--button-canvas-danger);
}

.notification {
  padding: 0.5rem 1rem;
  margin: 0;
  line-height: 1;
  background-color: var(--canvas-secondary);
}

.notification:empty {
  visibility: hidden;
  min-height: 2rem;
}

.notification[data-type="success"] {
  background-color: var(--canvas-success);
}

.notification[data-type="info"] {
  background-color: var(--canvas-info);
}

.notification[data-type="error"] {
  background-color: var(--canvas-error);
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  font-size: 1.2rem;
}

.stats dt {
  text-transform: capitalize;
}

.code {
  display: inline-flex;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: var(--canvas-primary);
  margin-inline-end: 0.5rem;
  margin-block-end: 0.5rem;
  max-width: 100%;
  overflow: auto;
}

.icon-button {
  border: none;
  aspect-ratio: 1;
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: var(--button-canvas-secondary);
}

.items-row {
  display: inline-flex;
  align-items: baseline;
  max-width: 100%;
}
