.inline {
  display: inline-flex;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
  gap: 1rem;
}

.column {
  flex-direction: column;
  gap: 1rem;
}

.items-row {
  display: inline-flex;
  align-items: baseline;
  max-width: 100%;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: unset;
  margin: 0;
}
