.loader {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  position: relative;
  border: 0.4rem solid var(--canvas-contrast);
  border-left-color: var(--button-canvas-primary);
  transform: translateZ(0);
  animation: spin 1.1s infinite linear;
}

.loader::-webkit-progress-bar {
  display: none;
}

.loader::-moz-progress-bar {
  display: none;
}

.loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

/* Animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
