:host {
  font-size: 1.75rem;
}

:host > *:not(style) {
  padding: 2rem;
  display: flex;
  gap: 4rem;
  box-sizing: border-box;
  min-height: 0;
  align-items: stretch;
}

::selection {
  background-color: var(--canvas-info);
}

h1 {
  font-size: 2.25em;
  line-height: 1;
  color: var(--brand-color);
  width: 100%;
  margin: 0;
}

article {
  font-size: 1.2em;
  width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
}

article > * {
  max-height: 100%;
}

aside {
  min-width: 35vmax;
}

section {
  flex: 2;
}

h2 {
  margin-block-start: 0;
}

figure {
  text-align: center;
  font-size: 0.5em;
  max-width: fit-content;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure img {
  flex: 1;
  min-height: 0;
  max-height: fit-content;
  max-width: fit-content;
  width: 100%;
}

a {
  color: var(--text-link);
}

blockquote {
  position: relative;
  flex: 2;
  font-size: 1.75em;
  max-width: 60rem;
  padding: 1em 1em 1em 2em;
  margin: auto;
}

blockquote::before {
  content: "â";
  font-size: 2.5em;
  position: absolute;
  left: 0.1em;
  line-height: 1;
  top: 0.32em;
}

/* Designs */

article.cover-title {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 90vw;
  background-color: var(--brand-color);
  color: var(--presentation-background);
  border-radius: 0 0.5em 0.5em 0;
  padding: 0;
  transform: translateX(-2rem);
  gap: 0;
  margin-block-start: 15vh;
  font-size: 1em;
  flex: 0 1 45%;
  flex-wrap: nowrap;
}

article.cover-title > * {
  padding-inline-start: 8rem;
  padding-inline-end: 2rem;
  box-sizing: border-box;
}

article.cover-title h1 {
  color: inherit;
  padding-block-start: 4rem;
  padding-block-end: 4rem;
  line-height: 1.5;
  margin-block-end: auto;
}

article.cover-title h2 {
  margin-block-end: 1rem;
  font-weight: 500;
  font-size: 1.25em;
}

article.cover-title section {
  flex: 0;
  background-color: var(--presentation-light-gray);
  color: var(--text-primary);
  border-radius: 0 0 0.5em 0;
  text-align: right;
}

section.cover-avatars {
  flex-direction: row;
  flex-wrap: wrap;
  padding-block-end: 1rem;
  padding-block-start: 1rem;
  flex: 0 1 30%;
}

section.cover-avatars img {
  flex: 0;
  height: 100%;
  width: auto;
  max-height: 320px;
  min-height: auto;
  border-radius: 50%;
  box-sizing: border-box;
  aspect-ratio: 1;
  filter: grayscale(100%) brightness(1.25);
}

section.cover-avatars figure {
  aspect-ratio: 1;
  max-height: 100%;
  justify-content: center;
}

section.cover-avatars figcaption {
  background: var(--brand-color);
  font-size: 2em;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  padding: 0.25rem 4rem;
  bottom: 1.5em;
  border-radius: 0.5rem;
  color: var(--presentation-background);
}

.device {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  box-shadow: 0 0 0 1em var(--text-primary);
  border-radius: 2em;
  aspect-ratio: 9 / 18;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-height: 70vh;
  height: 100vh;
}

.device::before,
.device::after {
  content: "";
  background-color: var(--text-primary);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.device::before {
  top: 0;
  width: 60%;
  height: 3.6%;
  clip-path: inset(-100% 0% 0% round 2em);
}

.device::after {
  bottom: 2%;
  width: 40%;
  height: 1%;
  border-radius: 5rem;
}

.device > * {
  width: auto;
  box-sizing: border-box;
}

.device h2 {
  font-size: 2em;
  text-align: center;
}

.device .notification {
  margin: 0 1rem;
}

.fit-content {
  max-width: fit-content;
  max-height: fit-content;
  padding: 0 1rem;
  min-width: auto;
  display: flex;
}

/* Gists */

auth-gist {
  max-height: 100%;
}

auth-gist::part(fullscreen-toggle) {
  background-color: var(--canvas-secondary);
  box-shadow: var(--drop-shadow);
  color: var(--text-primary);
  border: 0.1rem solid var(--canvas-primary);
  font-weight: bold;
}

auth-gist.fullscreen::part(iframe) {
  height: inherit;
}

auth-gist.fullscreen {
  box-sizing: border-box;
  background-color: var(--presentation-background);
  height: 100%;
}

/* Reveal */
[data-reveal] {
  visibility: hidden;
}

/* Mac OS settings */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  :host {
    font-size: 1.4rem;
  }

  section ol {
    font-size: 2rem;
  }

  blockquote::before {
    font-size: 1.5em;
    top: 0.64em;
    left: 0.2em;
  }
}

/* Small devices */

@media screen and (max-width: 720px) {
  .cover-title > * {
    padding-inline-start: 4rem;
  }

  .cover-title h1 {
    line-height: 1.25;
  }

  .device {
    height: auto;
  }
}
