:host {
  font-size: 1.75rem;
}

:host > * {
  padding: 1rem;
  display: flex;
  gap: 4rem;
  box-sizing: border-box;
}

h1 {
  font-size: 2.25em;
  line-height: 1;
  color: var(--brand-color);
  margin-block-start: 0;
  margin-block-end: 2rem;
  width: 100%;
}

article {
  width: 100%;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  min-width: 35vmax;
}

section {
  flex: 2;
}

h2 {
  margin-block-start: 0;
}

figure {
  text-align: center;
  font-size: 0.5em;
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
}

figure img {
  flex: 1;
  max-height: fit-content;
  max-width: fit-content;
}

figure a {
  color: var(--text-link);
}

blockquote {
  position: relative;
  font-size: 1.75em;
  max-width: 60rem;
  padding: 1em 1em 1em 2em;
  margin: auto;
}

blockquote::before {
  content: "â";
  font-size: 2.5em;
  position: absolute;
  left: 0.1em;
  line-height: 1;
  top: 0.32em;
}

/* Designs */

.cover-title {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 90vw;
  background-color: var(--brand-color);
  color: var(--presentation-background);
  border-radius: 0 0.5em 0.5em 0;
  padding: 0;
  transform: translateX(-2rem);
  gap: 0;
  top: 15vh;
}

.cover-title > * {
  padding-inline-start: 8rem;
  padding-inline-end: 2rem;
  box-sizing: border-box;
}

.cover-title h1 {
  color: inherit;
  padding-block-start: 4rem;
  line-height: 1.5;
}

.cover-title h2 {
  margin-block-end: 1rem;
  font-weight: 500;
  font-size: 1.25em;
}

.cover-title section {
  background-color: var(--presentation-light-gray);
  color: var(--text-primary);
  border-radius: 0 0 0.5em 0;
  text-align: right;
}

.device {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  box-shadow: 0 0 0 1em var(--text-primary);
  border-radius: 2em;
  aspect-ratio: 9 / 18;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-height: 70vh;
  height: 100vh;
}

.device::before,
.device::after {
  content: "";
  background-color: var(--text-primary);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.device::before {
  top: 0;
  width: 60%;
  height: 3.6%;
  clip-path: inset(-100% 0% 0% round 2em);
}

.device::after {
  bottom: 2%;
  width: 40%;
  height: 1%;
  border-radius: 5rem;
}

.device > * {
  width: auto;
  box-sizing: border-box;
}

.device h2 {
  font-size: 2em;
  text-align: center;
}

.device .notification {
  margin: 0 1rem;
}

/* Spacing and sizing */

.mis2 {
  margin-inline-start: 2em;
}

.jcs {
  justify-content: start;
}

.fit-content {
  max-width: fit-content;
  max-height: fit-content;
  padding: 0 1rem;
  min-width: auto;
}

/* Mac OS settings */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  blockquote::before {
    font-size: 1.5em;
    top: 0.64em;
    left: 0.2em;
  }
}

/* Small devices */

@media screen and (max-width: 720px) {
  .cover-title > * {
    padding-inline-start: 2rem;
  }

  .cover-title h1 {
    line-height: 1.25;
  }

  .device {
    height: auto;
  }
}
